---
---

@import "{{ site.theme }}";

body {
  color: #000000;
  background-color: #ffffff;
}

 h1, h2, h3, h4, h5, h6, a, .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
   color: rgba(0, 153, 112, 1);
}

/* Begin TopNav Style */

ul.topnav {
            position: relative;
            top: 0px;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #004d39;
            z-index: 99;
            margin-bottom: 0;
            }
   
        ul.topnav li.topnavtitle {
            float: left;
            left: 20px;
            letter-spacing: 1.2px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0;
        }    

        ul.topnav li.topnavlink {
            float: left;
            left: 20px;
            margin-bottom: 0;
            font-family: 'Roboto', sans-serif;
        }

        /* Style the links inside the list items */

        ul.topnav li a {
            margin: auto;
            display: inline-block;
            color: #ffffff;
            text-align: center;
            padding: 10px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 25px;
            margin-bottom: 0;
        }

        /* Change background color of links on hover */

        ul.topnav li a:hover {
            background-color: #001a13;
            margin-bottom: 0;
        }
         
        /* Hide the list item that contains the link that should open and close the topnav on small screens */
        ul.topnav li.icon {
            display: none;
        margin-bottom: 0;
        }

        /* When the screen is less than 820 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
        @media screen and (max-width:820px) {

          ul.topnav li:not(:first-child) {
            display: none;
        margin-bottom: 0;
        }
          ul.topnav li.icon {
            float: right;
            display: inline-block;
            margin-bottom: 0;
        }
        div.shade {
            display: none;
        }
        }

 @media screen and (max-width:820px) {
          ul.topnav.responsive {
            position: fixed;
            top:0;
            background-color: #004d39;
            z-index: 99;
            margin-bottom: 0;
            -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, .5);
 -moz-box-shadow:  0px 0px 7px 3px rgba(0, 0, 0, .5)
 box-shadow:     0px 0px 7px 3px rgba(0, 0, 0, .5);
        }
        ul.topnav.responsive li.icon {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99;
            margin-bottom: 0;
        }
        ul.topnav.responsive li {
            float: none;
            display: inline;
            margin-bottom: 0;
        }
        ul.topnav.responsive li a {
            display: block;
            text-align: left;
        }
        ul.topnav.responsive li a:hover {
            background-color: #001a13;
            
        }
        ul.topnav.responsive li.topnavlink a{
            padding-left:40px;
        }
        div.shade.show {
            display: block;
            position: fixed;
            top: 0;
            width: 100%;
            height: 120%;
            background-color: #3e3e3e;
            opacity: .5;
            z-index: 90;
        } 
        /* You need both these brackets */
        }

  /* Centering the nav bar.. */

        @media (min-width:820px) {
            ul.topnav li.topnavtitle {
                position: fixed;
                left: 0px;
            }
            ul.topnav li.topnavlink {
                position: relative;
                left: calc(100% - 375px);
            }
        }

/* End TopNav Style */

.page-header {
  background-image: url("/assets/20170729_110740_1_.jpg");
  background-color: #ffffff;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.project-name, .project-tagline {
  opacity: 1.0;
  color: #ffffff;
}

.hidden-link, .hidden-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  display: inline-block;
  max-width: 50%;
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgba(255,255,255,1);
  border-width: 0px;
  background-color: rgba(0, 77, 57, 0.5);
  border-radius: 0.0rem;
}
.btn:hover {
 color: rgba(255,255,255,1.0);
 text-decoration: none;
 background-color: rgba(0, 77, 57, 1);
 }
