---
---

@import "{{ site.theme }}";

body {
  color: #000000;
  background-color: #ffffff;
}

 h1, h2, h3, h4, h5, h6, a {
   color: rgba(0, 77, 57,1.0);
}

.page-header {
  background-image: url("/assets/20170729_110740_1_.jpg");
  background-color: #ffffff;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.project-tagline {
  opacity: 1.0;
}

.hidden-link, .hidden-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  max-width: 34%;
  margin-bottom: 1rem;
  font-size: 20px;
  color: rgba(255,255,255,1);
  border-width: 0px;
  background-color: rgba(0, 77, 57, 0.5);
  border-radius: 0.0rem;
}
.btn:hover {
 color: rgba(255,255,255,1.0);
 text-decoration: none;
 background-color: rgba(0, 77, 57, 1);
 }
