---
---

@import "{{ site.theme }}";

/* Theme color and spacing variables */

:root {
  --primary-theme-color: rgba(0, 77, 57, 1);
  --primary-theme-color-fade: rgba(0, 77, 57, 0.5);
  --secondary-theme-color: rgba(0, 153, 112, 1);
  --background-color: rgba(255, 255, 255, 1.0);
  --text-color: rgba(0, 0, 0, 1.0);
  --text-color-fade: rgba(0, 0, 0, 0.4);
  --p-line-height: 1.75em;
  --content-spacing: 0.75rem;
  --line-break-color: #eff0f1;
  --default-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --hover-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }

/* Top navigation menu styling */

.topnav-box {
  border-bottom: 1px solid var(--line-break-color);
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: var(--background-color);
  
}

.topnav {
  overflow: hidden;
  max-width: 860px;
  margin: auto;
  background-color: var(--background-color);
  z-index: 6;
}

.topnav a {
  float: right;
  display: block;
  color: var(--secondary-theme-color);
  text-align: center;
  padding: 20px 14px 16px 16px;
  text-decoration: none;
  font-size: 19px;
  border-bottom: 5px solid var(--background-color);
  transition: 0.2s;
  max-width: 100%;
  margin: auto;
}

.topnav a:first-child, {
  float: left;
  }

.topnav a:not(:first-child):hover, .topnavLink.active {
  color: var(--text-color);
  border-bottom: 5px solid var(--secondary-theme-color);
  }

.topnav a:not(:first-child):hover {
  transition: 0.3s;
}

.topnavLink.active {
  transition: 0.0s;
}

#topnavLogo {
  height: 66px;
  padding: 11px;
  }

.topnav .icon {
  display: none;
}

div.shade {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: var(--background-color);
  z-index: 4;
  }

/*Responsive menu styling */

@media screen and (max-width: 400px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  div.shade.show {
    display: block;
    opacity: 0.5;
  } 
}

.top-spacer {
height: 68px;
}

/* Hide the page header if not /index */
.page-header {
  display: none;
  background-image: url("/assets/background.jpg");
  background-color: var(--background-color);
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5em 2em;
}

.page-header.active {
  display: block;
  }

/* Card images for index and portfolio pages */

#card-deicing-conference {
  background-image: url("/assets/deicing-conference.jpg");
}
#card-volmon {
  background-image: url("/assets/volmon.jpg");
}
#card-allarmwater {
  background-image: url("/assets/allarmwater.jpg");
}
#card-netherlands {
  background-image: url("/assets/netherlands.jpg");
}
#card-blog {
  background-image: url("/assets/lake-champlain.jpg");
}

/* General styling */

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

 h1, h2, h3, h4, h5, h6, .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
   color: var(--secondary-theme-color);
   padding-left: var(--content-spacing);
   padding-right: var(--content-spacing);
   padding-bottom: var(--content-spacing);
   margin-top: 1rem;
}

.project-name, .project-tagline {
  color: var(--background-color);
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 4%
}

.hidden-link, .hidden-link:hover {
  text-decoration: none;
  color: var(--background-color);
}

.main-content p {
  line-height: var(--p-line-height);
  padding-left: var(--content-spacing);
  padding-right: var(--content-spacing);
}

.line-break {
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: solid 1px var(--line-break-color);
}

a {
  color: var(--secondary-theme-color);
}

li {
  padding-bottom: var(--content-spacing);
}

.featured-text {
  text-align: center;
  padding: 30px;
  max-width: 750px;
  margin: auto;
}

.split-intro {
  margin-bottom: 0;
}

.split-img {
  display: block;
  max-width: 75%;
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 50%;
}

#contact-form {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* Card layout (responsive below, renders after) */

div.card {
  width: 350px;
  max-width: 90%;
  background-color: var(--background-color);
  box-shadow: var(--default-box-shadow);
  margin: auto;
  margin-bottom: 10%;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 400px;
  transition: 0.2s;
  }

div.card:hover {
  box-shadow: var(--hover-box-shadow);
  transition: 0.2s;
}

div.card-container {
  text-align: center;
  padding: 10px 20px;
  position:absolute;
  background-color: var(--background-color);
  bottom: 0;
  width: 100%;
  }

/*Responsive layout (card and about pages) */

@media screen and (min-width:800px) {
   div.card {
    display:inline-block;
    width: 43%;
    margin: 3%;
    height: 350px;
  }
}

@media screen and (min-width:655px) {
  div.content-block {
    display:inline-block;
    width: 49%;
    margin: auto;
    vertical-align: middle;
  }
}  

@media screen and (max-width: 654px) {
  #profile-intro {
    display: none;
  }
}

/* Footer styling */

.site-footer {
  border-top: solid 1px var(--line-break-color);
}

ul.footer-list {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.footer-list li {
  float: left;
}

ul.footer-list li a {
  display: block;
  padding: 12px;
  text-align: center;
  color: var(--text-color-fade);
  transition: 0.2s;
}

ul.footer-list li p, #site-description {
  display: inline-block;
  size: 20px;
  padding-top: 2px;
  padding-bottom:12px;
  padding-left:6px;
  text-align: center;
  color: var(--text-color-fade);
  transition: 0.2s;
} 

ul.footer-list li a:hover, #site-description:hover {
  color: var(--text-color);
  transition: 0.2s;
  text-decoration: none;
}
  
ul.footer-list li a img {
  opacity: 0.4;
  transition: 0.2s;
  width: 24px;
}

ul.footer-list li a:hover img {
  opacity: 1.0;
  transition: 0.2s;
}
