<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	  <meta charset="UTF-8">
	  {% seo %}
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="theme-color" content="#157878">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71628943-1"></script>
	  <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-71628943-1');
	 
		  function toggleMenu() {
			  var x = document.getElementById("myTopnav");
			  if (x.className === "topnav") {
				  x.className += " responsive";
			  }
			  else {
				  x.className = "topnav";
			  }
		  }
		  
		  function toggleActive() {
			  var x =document.getElementById("topnavWork");
			  var y =document.getElementById("topnavAbout");
			  var z =document.getElementById("theHeader")
			  if (window.location.pathname === "/work") {
				  x.className += " active";
			  }
			  else {
				  if (window.location.pathname === "/about") {
					  y.className += " active";
				  }
				  else {
					  if (window.location.pathname === "/") {
						  z.className += " active";
					  }
					  else {
						  x.className = "topnavLink";
						  y.className = "topnavLink";
						  z.className = "page-header";
					  }
				  }
			  }
		  }
		  
	  </script>

  </head>
  
  <body  onload="toggleActive()">
	  <div class="topnav-box">
		  <div class="topnav" id="myTopnav">
			  <a class="topnavLink" id="topnavLogo" href="/"><img src="/assets/small-logo.png"</a>
			  <a class="topnavLink" id="topnavAbout" href="/about">about</a>
			  <a class="topnavLink" href="https://medium.com/@holdensparacino" target="_blank">blog</a>
			  <a class="topnavLink" id="topnavWork" href="/work">work</a>
			  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#8942;</a>
		  </div>
	  </div>
	  <div class="top-spacer"></div>
   
	  <header class="page-header" role="banner" id="theHeader">
		  	  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
			  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		<!-- Alt menu (replaced by topnav)
		  <a href="/work.html" class="btn">work</a>
		  <a href="https://medium.com/@holdensparacino" class="btn" target="blank">blog</a>
		  <a href="/about.html" class="btn">about</a>
		-->
	  </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
	      <ul class="footer-list">
		      <li>
			      <a href="/work">work</a>
		      </li>
		      <li>
			      <a href="https://medium.com/@holdensparacino" target="blank">blog</a>
		      </li>
		      <li>
			      <a href="/about">about</a>
		      </li>
	      </ul>
	      <ul class="footer-list">
		      <li>
			      <a href="https://twitter.com/holdensparacino" target="blank"><img src="/assets/twitter-icon.png"></a>
		      </li>
		      <li>
			      <a href="https://instagram.com/holdensparacino" target="blank"><img src="/assets/instagram-icon.png" width="32px"></a>
		      </li>
		      <li>
			      <a href="https://www.linkedin.com/in/holdensparacino" target="blank"><img src="/assets/linkedin-icon.png" width="32px"></a>
		      </li>
	      </ul>
	      <ul class="footer-list">
		      <li>
			      <p>
				      <a href="/site_description" id="site-description">© <script language="JavaScript" type="text/javascript">
				      now = new Date
				      theYear=now.getYear()
				      if (theYear < 1900)
					      theYear=theYear+1900
				      document.write(theYear)
				      </script> Holden Sparacino</a>
			      </p>
		      </li>
	      </ul>
	    </footer>
    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
