<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<meta charset="UTF-8"> {% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71628943-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-71628943-1');

		function toggleActive() {
			var x = document.getElementById("theHeader");
			var y = document.getElementById("topnavResearch");
			var z = document.getElementById("topnavAbout");
			var a = document.getElementById("topnavResources");
			if (window.location.pathname === "/") {
				x.className += " active";
			}
			else {
				if (window.location.pathname === "/research") {
					y.className += " active";
				}
				else {
					if (window.location.pathname === "/about") {
						z.className += " active";
					}
					else {
						if (window.location.pathname === "/resources") {
							a.className += " active";
						}
						else {
							x.className = "page-header";
							y.className = "topnavLink";
							z.className = "topnavLink";
							a.className = "topnavLink";
						}
					}
				}
			}
		}
	</script>
	<script language="javascript">
		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function toggleMenu() {
			var x = document.getElementById("myTopnav");
			var y = document.getElementById("myShade");
			if (x.className === "topnav") {
				x.className += " responsive";
				y.className += " show";
			}
			else {
				x.className = "topnav";
				y.className = "shade";
			}
		}
	</script>
</head>

<body onload="toggleActive()">
	<div class="topnav-box">
		<div class="topnav" id="myTopnav" onload="toggleMenu()">
			<a class="topnavLink" id="topnavLogo" href="/"><img src=/assets/small-logo.png style="height:46px;"></a>
			<a class="topnavLink" id="topnavTitle" href="/">SnowStudy</a>
			<a class="topnavLink" id="topnavAbout" href="/about">about</a>
			<a class="topnavLink" id="topnavResources" href="/resources">resources</a>
			<a class="topnavLink" id="topnavResearch" href="/research">research</a>
			<a href="javascript:void(0);" class="icon" id="myIcon" onclick="toggleMenu()">&#8942;</a>
		</div>
	</div>
	<div class="top-spacer"></div>

	<header class="page-header" role="banner" id="theHeader">
		<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
		<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
	</header>
	<a href="javascript:void(0);" onclick="toggleMenu()"><div class="shade" id="myShade"></div></a>

	<main id="content" class="main-content" role="main">
		{{ content }}

		<footer class="site-footer">
			<ul class="footer-list">
				<li>
					<a href="/research">research</a>
				</li>
				<li>
					<a href="/resources">resources</a>
				</li>
				<li>
					<a href="/about">about</a>
				</li>
			</ul>
			<ul class="footer-list">
				<li>
					<a href="http://noaa.gov/" target="blank"><img src="/assets/noaa.png"></a>
				</li>
				<li>
					<a href="https://www.uvm.edu/seagrant" target="blank"><img src="/assets/seagrant.png"></a>
				</li>
				<li>
					<a href="https://www.uvm.edu/extension" target="blank"><img src="/assets/ext.png"></a>
				</li>
				<li>
					<a href="https://www.uvm.edu/rsenr" target"blank"><img src="/assets/rsenr.png"></a>
				</li>
			</ul>
			<ul class="footer-list">
				<li>
					<a href="https://holdensparacino.com" target="blank">Designed by Holden Sparacino</a>
				</li>
				<li>
					<a href="/site-description">©
					<script language="JavaScript" type="text/javascript">
					now = new Date
					theYear = now.getYear()
					if (theYear < 1900)
					theYear = theYear + 1900
					document.write(theYear)
					</script>
					</a>
				</li>
			</ul>
		</footer>
	</main>

	{% if site.google_analytics %}
	<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script> {% endif %}
</body>

</html>